//	Variables
//--------------------------------------*/

// Define Colors
$ucla-blue:				#347bad;
$dark-blue:				#0277bd;
$light-brown:			#c0953d;
$brown:					#9f761f;
$dark-brown:			#8f640c;

// Define Color Pallete
// Consider using the defaults below or creating your own:
// https://robots.thoughtbot.com/controlling-color-with-sass-color-functions.
$primary:				$dark-brown;
$primary-light:			$light-brown;
$primary-dark:			darken($primary, 15%);

$secondary: 			$brown;
$secondary-light: 		tint($secondary, 73% );
$secondary-dark: 		darken($secondary, 15% );

// Text Colors
$text-color:				rgba(black, .87);
$secondary-text-color:	rgba(black, .53);
$link-color:				$primary;
$link-hover-color:		$primary-dark;
$link-visited-color:		$primary-dark;

// Other
$border-color:			rgba(black, .12);
$separator-color:		$secondary-light;
$background-color:		$primary-light;
$btn-color:				$primary-light;
$btn-hover-color:		$primary;
$bullet-point:			$secondary;
$bg-light-color:			rgba(black, .03);
$bg-dark-color:			rgba(black, .06);

//	Numbers
//--------------------------------------*/

// Set height of hero on homepage
$home-hero-height: 		550px;

// Global border radius
$radius:				15px;

// Site width
$site-width:			940px;